// 🎨 Palette de couleurs utilisée dans le site

$color-primary : #fff; // Blanc (fond ou texte selon contexte)
$color-secondary : #FF6060; // Rouge vif (couleur de marque de Kasa)
$color-tertiary : #F7F7F7; // Gris clair (fonds secondaires)